<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498490569075-867l1pi5hsfk04ti3qvlvdetutvti3eg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498490569075-867l1pi5hsfk04ti3qvlvdetutvti3eg</string>
	<key>API_KEY</key>
	<string>AIzaSyCUkNACXyb-0AWWVOU_txiDWn7CoV6l55U</string>
	<key>GCM_SENDER_ID</key>
	<string>498490569075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleChat</string>
	<key>PROJECT_ID</key>
	<string>simple-chat-627f2</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-chat-627f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498490569075:ios:950f3722a887190e835506</string>
</dict>
</plist>